$dark: #1A2931;
$success: #61E294;
$primary: #65A3CA;

$danger: #BF4060;
$warning: #FFBF00;
$disabled: #C4C4C4;

$main: rgba(173, 0, 255, 0.9);
$main-hover: #AD00FF;
$main-active: rgba(165, 0, 255, 0.95);

$white: rgba(255, 255, 255, 1);
$white-light: rgba(255, 255, 255, 0.5);
