@import "../../assets/scss/variables";
.image-tool--withBackground .image-tool__image {
  background-color: transparent !important;
  padding: 5px !important;
}

.cdx-input {
  border: transparent !important;
  text-align: center;
}

.cdx-input {
  padding: 0 !important;
  font-size: 0.8rem;
  opacity: 0.9;
  font-family: "JetBrainsMono-Italic", serif;
}

.ce-inline-tool-input--showed {
  background-color: #a36fff;
  color: #b0bec5;
}

.ce-settings__default-zone {
  display: flex;
  background-color: #a36fff;
}

.ce-conversion-toolbar__tools {
  background-color: #a36fff;
  color: #b0bec5;
}

.ce-toolbar.ce-toolbar--opened {
  background-color: #a36fff;
}

.cdx-button {
  background-color: #a36fff;
  color: #ffffff;
}

.cdx-button:hover {
  background-color: #9c64ff;
  color: #b0bec5;
}

.ce-settings__plugin-zone {
  background-color: #a36fff;
}

.codex-editor__redactor {
  padding-bottom: 150px !important;
  word-wrap: break-word !important;
}

.ce-inline-toolbar__buttons {
  background-color: #9c64ff;
  color: #b0bec5;
}

.ce-toolbar__settings-btn {
  background-color: #9c64ff;
  border-radius: 5px;
}

.ce-block--selected .ce-block__content {
  background: rgb(26, 41, 49);
  background: linear-gradient(
    16deg,
    rgba(26, 41, 49, 1) 0%,
    rgba(156, 100, 255, 0.7175245098039216) 100%
  );
  border-radius: 5px;
}

.icon--plus {
  width: 30px !important;
  height: 30px !important;
}
.ce-toolbox__button {
  width: 60px;
  height: 80px;
  border: 1px rgba(255, 255, 255, 1) dashed;
  border-radius: 3px;
  margin-right: 5px;
  background-color: rgba(173, 0, 255, 0.9);
  margin-top: 50px;
}
.ce-toolbox__button:hover {
  background-color: #AD00FF;;
}
.ce-toolbox__button:active {
  background-color: rgba(165, 0, 255, 0.95);
}
.ce-header{
  font-size: 1.1em !important;
}
.ce-settings__plugin-zone {
  display: none;
}
.ce-paragraph{

  border-bottom: rgba(255, 255, 255, 0.5) 1px dashed;
}
.ce-paragraph:focus{

  border-bottom: none;
}

.image-tool__image-picture {
  margin: 0 auto;
  text-align: center;
}

.ce-toolbar.ce-toolbar--opened {
  background-color: transparent !important;
  border: none;
}

@media (max-width: 650px) {
  .ce-toolbar__actions {
    position: fixed !important;
    right: 0 !important;
  }

}
.ce-toolbox {
  overflow-x: visible;
  background-color: transparent !important;
}

.editorjs-main {
  max-width: 650px;
  border-radius: 5px 5px 0 0;
  text-align: left;
  padding: 0 10px 0;
  border: rgba(173, 0, 255, 0.9) dashed 1px;
  border-bottom: none;
}

.ce-code__textarea {
  background-color: #c457fa !important;
  color: white !important;
  padding: 5px !important;
  font-weight: bold;
  font-size: 0.9rem !important;
  text-align: left;
  white-space: pre-wrap;
}
.ce-code__textarea::placeholder {
  color: $dark;
}

.input-murr-header-area{
  border:  1px dashed $main;
  border-bottom: none;
  padding: 10px;
}
.input-murr-header-area::placeholder{
  color: $white-light;
}

.input-murr-header-area:focus::placeholder {
  color: transparent;
}
.ce-paragraph.cdx-block::before {
  color: $white-light !important;
}
